apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: logto
  annotations:
    kubernetes.io/ingress.class: cloudflare-tunnel
    cloudflare-tunnel-ingress-controller.strrl.dev/backend-protocol: http
